.top {
    padding: 10px 10px !important;
    margin-bottom: 15px !important;
}

/*Grouplist Hover Effect*/
.content {
    margin-top: 5px;
    padding: 5px 5px;
}

.content-heading {
    margin-bottom: 5px;
    transition: 100ms;
}

.content-text-in {
    margin-bottom: 0;
    padding: 5px;
}
