<!DOCTYPE HTML>
<!--suppress ALL -->
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<!--Grouptype Badges-->
<th:block th:fragment="badges">
    <span class="badge badge-pill private float-right"
          th:if='${group.getType() == private}'>Privat</span>
    <span class="badge badge-pill public float-right"
          th:if="${group.getType() == public}">Öffentlich</span>
    <span class="badge badge-pill lecture float-right"
          th:if='${group.getType() == lecture}'>Veranstaltung</span>

    <span class="badge badge-pill parent float-right"
          th:if="${parent != null}" th:text="${parent.getTitle()}">Parent</span>

    <!--Needs completly projected (cached) groups-->
    <!--<span class="badge badge-success float-right"
          th:if='${group.getRoles().get(user.getId()) == admin}'>Admin</span>-->
</th:block>
