<!DOCTYPE HTML>
<!--suppress ALL -->
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<!--Grouptype Badges-->
<th:block th:fragment="badges">
    <span class="badge badge-pill private"
          th:if='${group.getType() == private}'>Privat</span>
    <span class="badge badge-pill public"
          th:if="${group.getType() == public}">Öffentlich</span>
    <span class="badge badge-pill lecture"
          th:if='${group.getType() == lecture}'>Veranstaltung</span>

    <span class="badge badge-pill parent"
          th:unless="${parent == null || parent.getTitle() == null|| parent.getTitle() == ''}"
          th:text="${parent.getTitle()}">Parent</span>

    <!--Needs completly projected (cached) groups-->
    <!--<span class="badge badge-success float-right"
          th:if='${group.getRoles().get(user.getId()) == admin}'>Admin</span>-->
</th:block>


<!--User Badges-->
<th:block th:fragment="userbadges">
    <span class="badge badge-success align-self-start ml-2"
          th:if="${group.getRoles().get(member.getId()) == admin}">Admin</span>
</th:block>
