<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org" th:replace="~{mopslayout :: html(
    name='Gruppenbildung',
    title='Details',
    headcontent=~{fragments/general :: headcontent(style='/details.css')},
    navigation=~{fragments/general :: nav(current='none')},
    bodycontent=~{:: bodycontent})}">

<body>

<main th:fragment="bodycontent">
    <div class="container-fluid">

        <h1 class="def-cursor" th:text="${group.getTitle()}"></h1>

        <div class="row">
            <!--Gruppendetails-->
            <div class="col-9 px-0">
                <div class="content">

                    <div class="content-heading row">
                        <!--Badges-->
                        <span th:replace="~{fragments/gruppen :: badges}"></span>

                        <!--Spacer-->
                        <span class="col"></span>

                        <!--Edit-Pen-Button-->
                        <a class="fas fa-edit edit"
                           th:href="@{/gruppen2/details/{id}/meta(id=${group.getId()})}"
                           th:if="${group.getRoles().get(user.getId()) == admin}"></a>
                    </div>

                    <!--Invite Link-->
                    <div class="content-text input-group"
                         th:if="${group.getRoles().get(user.getId()) == admin}">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Einladungslink:</span>
                        </div>
                        <input class="form-control" readonly th:value="${link}" type="text">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-outline-secondary"
                                    onclick="copyLink()">Link kopieren
                            </button>
                        </div>
                    </div>

                    <!--Description-->
                    <div class="content-text-in">
                        <span th:text="${group.getDescription()}"></span>
                    </div>

                    <!--Button-Bar-->
                    <div class="row">

                        <!--Spacer-->
                        <span class="col"></span>

                        <form method="post" th:action="@{/gruppen2/details/{id}/leave(id=${group.getId()})}">
                            <button class="btn btn-warning btn-bar" type="submit">Gruppe verlassen
                            </button>
                        </form>
                        <form method="post" th:if="${group.getRoles().get(user.getId()) == admin}"
                              th:action="@{/gruppen2/details/{id}/destroy(id=${group.getId()})}">
                            <button class="btn btn-danger btn-bar" type="submit">Gruppe löschen
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            <!--Teilnehmerliste-->
            <div class="col-3 def-cursor">
                <!--Anzahl Text-->
                <div class="mb-2">
                    <span>Teilnehmer: </span>
                    <span th:if="${group.getUserLimit() <= 10000}"
                          th:text="${group.getMembers().size() + ' von ' + group.getUserLimit()}"></span>
                    <span th:unless="${group.getUserLimit() <= 100000}"
                          th:text="${group.getMembers().size()}"></span>
                </div>

                <!--Bearbeiten-Button-->
                <div class="mb-2" th:if="${group.getRoles().get(user.getId()) == admin}">
                    <form method="get"
                          th:action="@{/gruppen2/details/{id}/members(id=${group.getId()})}">
                        <button class="btn btn-secondary btn-block">Teilnehmer verwalten</button>
                    </form>
                </div>

                <!--Liste-->
                <div class="members">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between" th:each="member : ${group.getMembers()}">
                            <span th:text="${member.getGivenname()  + ' ' + member.getFamilyname().charAt(0) + '.'}"></span>
                            <span class="badge badge-success" th:if="${group.getRoles().get(member.getId()) == admin}">Admin</span>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

    <script>
        function copyLink() {
            const copyText = document.getElementById("groupLink");

            copyText.select();
            copyText.setSelectionRange(0, 99999);

            document.execCommand("copy");
        }
    </script>
</main>
</body>
</html>
