<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org" th:replace="~{mopslayout :: html(
    name='Gruppenbildung',
    title='Details',
    headcontent=~{fragments/general :: headcontent('details')},
    navigation=~{fragments/general :: nav('none')},
    bodycontent=~{:: bodycontent})}">

<body>

<main th:fragment="bodycontent">
    <div class="container-fluid">

        <h1 class="def-cursor" th:text="${group.getTitle()}"></h1>

        <div class="row">
            <!--Gruppendetails-->
            <div class="col-9 px-0">

                <div class="content" th:insert="~{fragments/groups :: groupcontent}"></div>

                <div class="content">
                    <!--Button-Bar-->
                    <div class="row">
                        <a class="btn btn-primary" href="/gruppen2">Fertig</a>

                        <!--Spacer-->
                        <span class="col"></span>

                        <form method="post" th:action="@{/gruppen2/details/{id}/leave(id=${group.getId()})}">
                            <button class="btn btn-danger btn-bar" type="submit">Gruppe verlassen
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            <!--Teilnehmerliste-->
            <div class="col-3 def-cursor">
                <!--Anzahl Text-->
                <div class="mb-2">
                    <span>Teilnehmer: </span>
                    <span th:text="${group.size() + ' von ' + group.getLimit()}"></span>
                </div>

                <!--Bearbeiten-Button-->
                <div class="mb-2" th:if="${group.isAdmin(user.getId())}">
                    <form method="get"
                          th:action="@{/gruppen2/details/{id}/edit(id=${group.getId()})}">
                        <button class="btn btn-secondary btn-block">Gruppe verwalten</button>
                    </form>
                </div>

                <!--Liste-->
                <div class="members">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between"
                            th:each="member : ${group.getMembers()}">
                            <span th:text="${member}"></span>
                            <span th:replace="~{fragments/groups :: userbadges}"></span>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</main>
</body>
</html>
