<!DOCTYPE html>

<html lang="de" xmlns:th="http://www.thymeleaf.org" th:replace="~{mopslayout :: html(
    name='Gruppenfindung',
    title='Error',
    headcontent=~{fragments/general :: headcontent('none')},
    navigation=~{fragments/general :: nav('none')},
    bodycontent=~{:: bodycontent})}">

<body>

<main th:fragment="bodycontent">
    <div class="container">

        <h1 class="display-3">UPSI</h1>

        <div class="content">
            <p class="lead def-cursor">Da ist wohl etwas schiefgelaufen :(</p>

            <div class="content-text-in">
                <div class="card">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal" th:text="${status} + ': ' + ${error}"></h4>
                    </div>
                    <div class="card-body">
                        <p th:text="${message}"></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>


</body>
</html>
