<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org" th:replace="~{mopslayout :: html(
    name='Gruppenfindung',
    title='Meine Gruppen',
    headcontent=~{fragments/general :: headcontent(style='/index.css')},
    navigation=~{fragments/general :: nav(current='index')},
    bodycontent=~{:: bodycontent})}">

<body>

<main th:fragment="bodycontent">
    <div class="container-fluid">

        <h1 class="def-cursor">Meine Gruppen</h1>

        <!--Gruppenliste belegte Gruppen-->
        <div class="content" th:each="group: ${groups}">
            <div class="content-heading">
                <a class="link" th:href="@{/gruppen2/details/{id}(id=${group.getId()})}"
                   th:text="${group.getTitle()}"></a>

                <span th:replace="~{fragments/gruppen :: badges}"></span>
            </div>
            <div class="content-text-in">
                <span th:text="${group.getDescription()}"></span>
            </div>
        </div>

    </div>
</main>

</body>
</html>
