<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org" th:replace="~{mopslayout :: html(
    name='Gruppenbildung',
    title='Details',
    headcontent=~{fragments/general :: headcontent('details')},
    navigation=~{fragments/general :: nav('none')},
    bodycontent=~{:: bodycontent})}">

<body>

<main th:fragment="bodycontent">
    <div class="container-fluid">

        <h1 class="def-cursor" th:text="${group.getTitle()}"></h1>

        <div class="content">
            <div class="content-heading">
                <div th:replace="~{fragments/gruppen :: badges}"></div>
            </div>

            <div class="content-text-in">
                <span th:text="${group.getDescription()}"></span>
            </div>

            <form th:if="${group.getType() == public}" method="post"
                  th:action="@{/gruppen2/details/{id}/join(id=${group.getId()})}">
                <button class="btn btn-primary" type="submit">Beitreten!</button>
            </form>
        </div>

    </div>
</main>
</body>
</html>
