<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org" th:replace="~{mopslayout :: html(
    name='Gruppenbildung',
    title='Suchen',
    headcontent=~{fragments/general :: headcontent('search')},
    navigation=~{fragments/general :: nav('search')},
    bodycontent=~{:: bodycontent})}">

<body>

<main th:fragment="bodycontent">
    <div class="container-fluid">

        <h1>Suchen</h1>

        <!--Suchfilter-->
        <div class="content top">
            <form method="post" th:action="@{/gruppen2/search}">
                <div class="row mb-3">
                    <div class="input-group col mr-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text text-monospace">Suchbegriff:</span>
                        </div>
                        <input class="form-control" required minlength="1" name="string" type="text">
                    </div>

                    <button class="btn btn-primary" type="submit">Suchen</button>
                </div>
            </form>

            <div class="row">
                <form method="post" th:action="@{/gruppen2/search}">
                    <input type="hidden" name="string" value="">
                    <button class="btn btn-info" type="submit">Alle Anzeigen</button>
                </form>

                <!--spacer-->
                <span class="col"></span>

                <form method="post" th:action="@{/gruppen2/search}">
                    <input type="hidden" name="string" value="LECTURE">
                    <button class="btn btn-info mr-2" type="submit">Vorlesungen</button>
                </form>
                <form method="post" th:action="@{/gruppen2/search}">
                    <input type="hidden" name="string" value="PUBLIC">
                    <button class="btn btn-info" type="submit">Öffentliche Gruppen</button>
                </form>
            </div>
        </div>

        <!--Ergebnisliste-->
        <div class="content" th:each="group: ${groups}"
             th:insert="fragments/groups :: groupcontentlink"></div>
    </div>
</main>

</body>
</html>
