<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org" th:replace="~{mopslayout :: html(
    name='Gruppenbildung',
    title='Suchen',
    headcontent=~{fragments/general :: headcontent('search')},
    navigation=~{fragments/general :: nav('search')},
    bodycontent=~{:: bodycontent})}">

<body>

<main th:fragment="bodycontent">
    <div class="container-fluid">

        <h1>Suchen</h1>

        <!--Suchfilter-->
        <div class="content top">
            <form method="post" th:action="@{/gruppen2/search}">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text text-monospace">Suchbegriff:</span>
                    </div>
                    <input class="form-control" th:name="string" type="text">
                </div>
                <button class="btn btn-primary" type="submit">Suchen</button>
            </form>
        </div>

        <!--Ergebnisliste-->
        <div class="content" th:each="group: ${groups}">
            <div class="content-heading row">
                <span th:replace="~{fragments/groups :: badges}"></span>

                <a class="link col" th:href="@{/gruppen2/details/{id}(id=${group.getId()})}"
                   th:text="${group.getTitle()}"></a>
            </div>
            <div class="content-text-in">
                <span th:text="${group.getDescription()}"></span>
            </div>
        </div>

    </div>
</main>

</body>
</html>
